*{
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
.purple {
    color: #7B5895;
}
.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 90vh;
    padding: 10px;
}

.upload-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: 10px;
}

.upload-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: 20px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #CEC6D6;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}
.upload-title {

    font-size: 5.5em;
    margin-top: 0.8em;
    margin-bottom: 0.1em;
}
.form-group {
    padding-bottom: 1em;
}
.website-name {
    font-size: 1.5em;
    padding-right: 80vw;
}

.space {
    margin-top: 2em;
}

.empty-space {
    padding: 0em 8em;
}
.preview-container img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
input[type="file"] {
    display: none;
}

.button-option {
  align-items: center;
  background-color: #CEC6D6;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #7B5895;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin-top: 1em;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}


.button-option:hover {
  box-shadow: #F6F4F7 0 0 0 3px, transparent 0 0 0 0;
}

.button-border {
    border: 1px solid #F6F4F7;
}